<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cheznana</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/splide.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cheznana.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top position-relative" style="background-color: white;">
        <div class="nav-wave d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 30" width="100%">
                <path d="M -32 18 Q -25.33 18 -18.67 24 Q -5.33 36 8 24 Q 14.67 18 21.33 18 Q 28 18 34.67 24 Q 48 36 61.33 24 Q 68 18 74.67 18 Q 81.33 18 88 24 Q 101.33 36 114.67 24 Q 121.33 18 128 18 Q 134.67 18 141.33 24 Q 154.67 36 168 24 Q 174.67 18 181.33 18 Q 188 18 194.67 24 Q 208 36 221.33 24 Q 228 18 234.67 18 Q 241.33 18 248 24 Q 261.33 36 274.67 24 Q 281.33 18 288 18 Q 294.67 18 301.33 24 Q 314.67 36 328 24 Q 334.67 18 341.33 18 Q 348 18 354.67 24 Q 368 36 381.33 24 Q 388 18 394.67 18 Q 401.33 18 408 24 Q 421.33 36 434.67 24 Q 441.33 18 448 18 Q 454.67 18 461.33 24 Q 474.67 36 488 24 Q 494.67 18 501.33 18 Q 508 18 514.67 24 Q 528 36 541.33 24 Q 548 18 554.67 18 Q 561.33 18 568 24 Q 581.33 36 594.67 24 Q 601.33 18 608 18 Q 614.67 18 621.33 24 Q 634.67 36 648 24 Q 654.67 18 661.33 18 Q 668 18 674.67 24 Q 688 36 701.33 24 Q 708 18 714.67 18 Q 721.33 18 728 24 Q 741.33 36 754.67 24 Q 761.33 18 768 18 Q 774.67 18 781.33 24 Q 794.67 36 808 24 Q 814.67 18 821.33 18 Q 828 18 834.67 24 Q 848 36 861.33 24 Q 868 18 874.67 18 Q 881.33 18 888 24 Q 901.33 36 914.67 24 Q 921.33 18 928 18 Q 934.67 18 941.33 24 Q 954.67 36 968 24 Q 974.67 18 981.33 18 Q 988 18 994.67 24 Q 1008 36 1021.33 24 Q 1028 18 1034.67 18 Q 1041.33 18 1048 24 Q 1061.33 36 1074.67 24 Q 1081.33 18 1088 18 Q 1094.67 18 1101.33 24 Q 1114.67 36 1128 24 Q 1134.67 18 1141.33 18 Q 1148 18 1154.67 24 Q 1168 36 1181.33 24 Q 1188 18 1194.67 18 Q 1201.33 18 1208 24 Q 1221.33 36 1234.67 24 Q 1241.33 18 1248 18 Q 1254.67 18 1261.33 24 Q 1274.67 36 1288 24 Q 1294.67 18 1301.33 18 L 1280 0 L 0 0 Z" fill="white"></path>
            </svg>
        </div>
        <div class="container-fluid py-3 py-lg-0">
            <a class="navbar-brand d-lg-none offcanvas-logo" asp-page="#">Cheznana</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body">
                    @{
                        var currentPage = ViewContext.RouteData.Values["page"]?.ToString()?.ToLower();
                        // var currentArea = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower();
                    }
                    <ul class="navbar-nav mx-auto justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link navbar-text @(currentPage!.StartsWith("/index") ? "active" : "")" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text @(currentPage!.StartsWith("/privacy") ? "active" : "")" asp-page="/Privacy">Về Cheznana</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-page="/Collection">Bộ sưu tầm</a>
                        </li>
                    </ul>
                    <div class="nav-logo" style="width:180px;">
                        <a asp-page="#">
                            <img class="backgroundImg" src="~/img/backgroundLogo.png" alt="BackgroundLogo" style="width: 180px; height: 180px;" />
                            <img class="logoImg" src="~/img/logonavCheznana.png" alt="Cheznana" style="width: 180px; height: 180px;" />
                        </a>
                    </div>
                    <ul class="navbar-nav mx-auto justify-content-start flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-page="/Service">Dịch vụ B2B</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-page="/Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar-text" asp-page="/Contact">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            const nav = document.querySelector('nav');
            const navHeight = nav.getBoundingClientRect().height;
            const navwave = document.querySelector('.nav-wave');
            navwave.style.bottom = (-navHeight + 15) + 'px';
        </script>
    </nav>
    @* <div class="container"> *@
        @* <main role="main" class="pb-3"> *@
            @RenderBody()
        @* </main> *@
    @* </div> *@


    <div class="footer-container">

        <!-- Sóng phía trên và hướng lên -->
        <div class="wave-up">
            <svg viewBox="0 0 1440 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" >
                <defs>
                    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                        <stop stop-color="rgba(103, 153, 125, 1)" offset="0%"></stop>
                        <stop stop-color="rgba(23, 85, 102, 1)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path fill="url(#sw-gradient-0)" d="M0,70L10,63.3C20,57,40,43,60,43.3C80,43,100,57,120,55C140,53,160,37,180,25C200,13,220,7,240,8.3C260,10,280,20,300,23.3C320,27,340,23,360,28.3C380,33,400,47,420,43.3C440,40,460,20,480,21.7C500,23,520,47,540,53.3C560,60,580,50,600,53.3C620,57,640,73,660,71.7C680,70,700,50,720,41.7C740,33,760,37,780,35C800,33,820,27,840,30C860,33,880,47,900,50C920,53,940,47,960,36.7C980,27,1000,13,1020,10C1040,7,1060,13,1080,23.3C1100,33,1120,47,1140,48.3C1160,50,1180,40,1200,38.3C1220,37,1240,43,1260,43.3C1280,43,1300,37,1320,30C1340,23,1360,17,1380,23.3C1400,30,1420,50,1430,60L1440,70L1440,0L0,0Z"></path>
            </svg>
        </div>
        @* <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 490" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(23, 85, 102, 1)" offset="0%"></stop><stop stop-color="rgba(78, 167, 131, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,441L26.7,375.7C53.3,310,107,180,160,114.3C213.3,49,267,49,320,106.2C373.3,163,427,278,480,326.7C533.3,376,587,359,640,326.7C693.3,294,747,245,800,236.8C853.3,229,907,261,960,285.8C1013.3,310,1067,327,1120,318.5C1173.3,310,1227,278,1280,236.8C1333.3,196,1387,147,1440,122.5C1493.3,98,1547,98,1600,147C1653.3,196,1707,294,1760,343C1813.3,392,1867,392,1920,400.2C1973.3,408,2027,425,2080,432.8C2133.3,441,2187,441,2240,400.2C2293.3,359,2347,278,2400,236.8C2453.3,196,2507,196,2560,179.7C2613.3,163,2667,131,2720,138.8C2773.3,147,2827,196,2880,245C2933.3,294,2987,343,3040,310.3C3093.3,278,3147,163,3200,147C3253.3,131,3307,212,3360,245C3413.3,278,3467,261,3520,253.2C3573.3,245,3627,245,3680,269.5C3733.3,294,3787,343,3813,367.5L3840,392L3840,490L3813.3,490C3786.7,490,3733,490,3680,490C3626.7,490,3573,490,3520,490C3466.7,490,3413,490,3360,490C3306.7,490,3253,490,3200,490C3146.7,490,3093,490,3040,490C2986.7,490,2933,490,2880,490C2826.7,490,2773,490,2720,490C2666.7,490,2613,490,2560,490C2506.7,490,2453,490,2400,490C2346.7,490,2293,490,2240,490C2186.7,490,2133,490,2080,490C2026.7,490,1973,490,1920,490C1866.7,490,1813,490,1760,490C1706.7,490,1653,490,1600,490C1546.7,490,1493,490,1440,490C1386.7,490,1333,490,1280,490C1226.7,490,1173,490,1120,490C1066.7,490,1013,490,960,490C906.7,490,853,490,800,490C746.7,490,693,490,640,490C586.7,490,533,490,480,490C426.7,490,373,490,320,490C266.7,490,213,490,160,490C106.7,490,53,490,27,490L0,490Z"></path></svg> *@
        <!-- Footer nội dung -->
        <div class="container-fluid bg-footer text-white pt-4 pb-3">
            <div class="row justify-content-center">
                <div class="col-auto align-self-center pe-0 pt-2">
                    <p class="m-0">CHEZ</p>
                </div>
                <div class="col-auto">
                    <img src="~/img/cheznanaLogo.png" alt="Cheznana" style="width: 30px; height: auto;" />
                </div>
                <div class="col-auto align-self-center ps-0 pt-2">
                    <p class="m-0">NANA</p>
                </div>
                <div class="col-12 text-center pt-1">
                    Cheznana luôn hân hạnh phục vụ
                </div>
            </div>
        </div>

    </div>


    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/splide.min.js" asp-append-version="true"></script>
    <script src="~/js/splide-extension-auto-scroll.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>