@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Playwrite+RO:wght@100..400&display=swap');
:root {
    --sub-banner-color: #ff6550;
    --sub-banner-border-radius: 137px;
    --featured-color: #f04b2e;
    --featured-border-radius: 20px;
    --title-height: 0px; /*lấy chiều cao của title collection-list-content bằng js*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    overflow: hidden;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.text-font-special {
  font-family: 'Playwrite AU SA', cursive;
  font-weight: 300;
  font-style: normal;
  font-weight: bold;
  line-height: 35px;
}
.text-font-orange {
    color: #ff6550!important;
}
.content {
    flex: 1;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
a {
    text-decoration: inherit;
}

.thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
}


.thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
    opacity: 0.3;
}

.thumbnail.is-active {
    opacity: 1;
}

.thumbnail img {
    width: auto;
    height: 80px;
}

/*Navbar start*/
.offcanvas-logo {
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.nav-item .nav-link.active, a.navbar-text:hover {
    color: #175566 !important;
}
a.navbar-text {
    position: relative;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 18px;
    padding-top: 25px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    padding-bottom: 25px!important;
    transition: all 0.3s;
}
a.navbar-text::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s;
    border-color: #ff91a4;
}
a.navbar-text:hover::after,
a.navbar-text.active::after {
    opacity: 1;
    transform: scale(1);
}
.nav-logo {
    position: relative;
}
.nav-logo a img {
    position: absolute;
    background-color: transparent !important;
    width: 180px;
    height: 180px;
}
.nav-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*Navbar end*/




/*Footer start*/
.footer-container {
    position: relative;
}

.wave-up {
    width: 100%;
    height: 100px;
    overflow: hidden;
    z-index: 2;
    line-height: 0;
    margin-bottom: -5px;
}

.wave-up svg {
    display: block;
    width: 100%;
    height: 100px;
    transform: rotate(180deg); /* ✅ Lật sóng hướng lên trên */
}

.bg-footer {
    background-color: #175566;
    position: relative;
    z-index: 1;
    padding-top: 100px; /* để không bị wave che nội dung */
}
a.footer-a {
    position: relative;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
    /*z-index: 1;*/
}
a.footer-a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
a.footer-a:hover i{
    color: #ffffff!important;
}
a.footer-a:hover img{
    mix-blend-mode: multiply;
    filter: drop-shadow(1px 1px 5px black);
}
div.footer-first-content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}
div.footer-thir-content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
div.footer-thir-content h3, div.footer-first-content h3{
    font-family: "Playwrite AU SA", cursive;
    font-weight: bold;
}
/*Footer end*/

/*Index start*/
.carousel-parent-fade {
    position: absolute!important;
}
.carousel-img-fade {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media (max-width: 768px) {
    .carousel-item img {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: right;
    }
}
@media (min-width: 769px) {
    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.carousel-wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    z-index: 2;
    transform: rotate(180deg);
    background: url('../img/background/down2.png') repeat-x;
}
.carousel-wave svg {
    width: auto;
    overflow-x: hidden;
}

.sub-banner div.row div div.dash-left, .sub-banner div.row div div.dash-right {
    position: absolute;
    width: 50%;
    height: 50%;
    border-bottom: 3px solid var(--sub-banner-color);
}
.dash-left {
    top: 0;
    right: 0;
}
.dash-right {
    top: 0;
    left: 0;
}

.sub-banner-icon {
    width: 64px;
    height: 64px;
}

@media (max-width: 768px) {
    .sub-banner-img div img {
        border-radius: 50px 50px 50px 50px;
        -webkit-border-radius: 50px 50px 50px 50px;
        -moz-border-radius: 50px 50px 50px 50px;
        border: 4px solid var(--sub-banner-color);
    }
}
@media (min-width: 769px){
    .sub-banner-img div img {
        border-radius: var(--sub-banner-border-radius) var(--sub-banner-border-radius) var(--sub-banner-border-radius) var(--sub-banner-border-radius);
        -webkit-border-radius: var(--sub-banner-border-radius) var(--sub-banner-border-radius) var(--sub-banner-border-radius) var(--sub-banner-border-radius);
        -moz-border-radius: var(--sub-banner-border-radius) var(--sub-banner-border-radius) var(--sub-banner-border-radius) var(--sub-banner-border-radius);
        border: 4px solid var(--sub-banner-color);
    }
}
.sub-dash {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    border-bottom: 3px solid var(--sub-banner-color);
}

#featured {
    color: var(--featured-color);
    display: inline-block;
}
#featured .container .row div img {
    border-radius: var(--featured-border-radius) var(--featured-border-radius) var(--featured-border-radius) var(--featured-border-radius);
    -webkit-border-radius: var(--featured-border-radius) var(--featured-border-radius) var(--featured-border-radius) var(--featured-border-radius);
    -moz-border-radius:  var(--featured-border-radius) var(--featured-border-radius) var(--featured-border-radius) var(--featured-border-radius);
    border: 4px solid var(--featured-color);
}
/*Index end*/

/*Collection start*/
/*#parent {
    height: auto;
    position: sticky;
    top: 0;
}*/
/*#collection {
    padding: 20px;
}*/
@media (max-width: 768px) {
    #collection #collection-left {
        height: auto;
        z-index: 1;
    }
    #collection #collection-right {
        height: auto;
    }
}
@media (min-width: 769px) {
    #collection #collection-left {
        align-self: start;
        height: auto;
        position: sticky;
        top: 20px;
    }
    #collection #collection-right {
        height: auto;
        overflow: hidden;
    }
}
.fake-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
@media (max-width: 768px){
    .search-bar {
        position: relative;
        background-color: #fff;
        border: 4px solid #ccc;
        border-radius: 10px;
        width: 100%;
        height: 40px;
    }
    .search-bar button {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(247, 173, 180);
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    }
}
@media (min-width: 769px) {
    .search-bar {
        position: relative;
        background-color: #fff;
        border: 4px solid #ccc;
        border-radius: 25px;
        width: 100%;
        height: 40px;
    }
    .search-bar button {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(247, 173, 180);
    border: none;
    border-radius: 16px;
    width: 50px;
    height: 30px;
    }
}
.search-bar input {
    border: none;
    outline: none;
    border-radius: 25px;
    position: absolute;
    inset: 0;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}
.collection-list {
    border: 4px solid #edecec;
    border-radius: 20px;
    position: relative;
    height: 80vh;
    z-index: 2;
}
.collection-list-content {
    height: calc(100% - var(--title-height));
    overflow-y:auto;
}
/*tô màu menu lẻ*/
.collection-list-content ul li:nth-child(odd){
    background: #f4f2f2;
    border-radius: 30px;
}
.collection-list-content ul li:hover{
    background: rgba(247, 173, 180, 0.5);
    border-radius: 30px;
}
/*icon custom*/
.collection-list::before {
    content: "";
    background-image: url('../img/icon/widget_div.jpg');
    width: 87px;
    height: 36px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -43px;
    z-index: 1;
}
/*icon trái tim*/
.collection-list::after {
    content: "";
    background-image: url('../img/icon/widget_div_bot.jpg');
    width: 26px;
    height: 25px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -13px;
    z-index: 1;
}
div.collection-wave svg {
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
}
.collection-button {
    width: auto;
    white-space: nowrap;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
}
#collection-list-mobile {
    width: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 12px 10px 12px;
}
/*Collection end*/
/*Faq start*/
.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='16' height='16' fill='white'/><path d='M12 6V18' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/><path d='M6 12H18' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'><rect width='16' height='16' fill='white'/><path d='M7 17L16.8995 7.10051' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/><path d='M7 7.00001L16.8995 16.8995' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}
.accordion-button:not(.collapsed) {
    --bs-accordion-active-bg: #ffffff;
    --bs-accordion-active-color: black;
}
.accordion-item:first-child{
    border-top: 1px solid #dee2e6 !important; 
}
.accordion-item:last-child {
    border-bottom: 1px solid #dee2e6 !important;
}
/* Tắt border khi focus */
.accordion-button:focus {
    box-shadow: none;
    border: none;
}
/*Faq end*/
