@page
@model Cheznana.Pages.CollectionModel
@{
    ViewData["Title"] = "Bộ sưu tầm";
}
<!--Banner start-->
<div class="container-fluid p-0 position-relative" style="">
    <img class="img-fluid" src="~/img/background/bannerBanhnam1.png" alt=".." style="min-height: 300px; min-width:auto; object-fit: cover;"/>
    <div class="fake-fade">
        <div class="collection-wave">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 19" width="100%">
                <path d="M 0 10 Q 5.33 10 10.67 5 Q 21.33 -5 32 5 Q 37.33 10 42.67 10 Q 48 10 53.33 5 Q 64 -5 74.67 5 Q 80 10 85.33 10 Q 90.67 10 96 5 Q 106.67 -5 117.33 5 Q 122.67 10 128 10 Q 133.33 10 138.67 5 Q 149.33 -5 160 5 Q 165.33 10 170.67 10 Q 176 10 181.33 5 Q 192 -5 202.67 5 Q 208 10 213.33 10 Q 218.67 10 224 5 Q 234.67 -5 245.33 5 Q 250.67 10 256 10 Q 261.33 10 266.67 5 Q 277.33 -5 288 5 Q 293.33 10 298.67 10 Q 304 10 309.33 5 Q 320 -5 330.67 5 Q 336 10 341.33 10 Q 346.67 10 352 5 Q 362.67 -5 373.33 5 Q 378.67 10 384 10 Q 389.33 10 394.67 5 Q 405.33 -5 416 5 Q 421.33 10 426.67 10 Q 432 10 437.33 5 Q 448 -5 458.67 5 Q 464 10 469.33 10 Q 474.67 10 480 5 Q 490.67 -5 501.33 5 Q 506.67 10 512 10 Q 517.33 10 522.67 5 Q 533.33 -5 544 5 Q 549.33 10 554.67 10 Q 560 10 565.33 5 Q 576 -5 586.67 5 Q 592 10 597.33 10 Q 602.67 10 608 5 Q 618.67 -5 629.33 5 Q 634.67 10 640 10 Q 645.33 10 650.67 5 Q 661.33 -5 672 5 Q 677.33 10 682.67 10 Q 688 10 693.33 5 Q 704 -5 714.67 5 Q 720 10 725.33 10 Q 730.67 10 736 5 Q 746.67 -5 757.33 5 Q 762.67 10 768 10 Q 773.33 10 778.67 5 Q 789.33 -5 800 5 Q 805.33 10 810.67 10 Q 816 10 821.33 5 Q 832 -5 842.67 5 Q 848 10 853.33 10 Q 858.67 10 864 5 Q 874.67 -5 885.33 5 Q 890.67 10 896 10 Q 901.33 10 906.67 5 Q 917.33 -5 928 5 Q 933.33 10 938.67 10 Q 944 10 949.33 5 Q 960 -5 970.67 5 Q 976 10 981.33 10 Q 986.67 10 992 5 Q 1002.67 -5 1013.33 5 Q 1018.67 10 1024 10 Q 1029.33 10 1034.67 5 Q 1045.33 -5 1056 5 Q 1061.33 10 1066.67 10 Q 1072 10 1077.33 5 Q 1088 -5 1098.67 5 Q 1104 10 1109.33 10 Q 1114.67 10 1120 5 Q 1130.67 -5 1141.33 5 Q 1146.67 10 1152 10 Q 1157.33 10 1162.67 5 Q 1173.33 -5 1184 5 Q 1189.33 10 1194.67 10 Q 1200 10 1205.33 5 Q 1216 -5 1226.67 5 Q 1232 10 1237.33 10 Q 1242.67 10 1248 5 Q 1258.67 -5 1269.33 5 Q 1274.67 10 1280 10 Q 1285.33 10 1290.67 5 Q 1301.33 -5 1312 5 Q 1317.33 10 1322.67 10 L 1280 19 L 0 19 Z" fill="#ffffff"></path>
            </svg>
        </div>
    </div>
</div> 
<!--Banner end-->
<!--Collection start-->
<div class="container p-0">
    <div class="row px-3 pt-4 justify-content-start justify-content-lg-center d-lg-none">
        <div class="col-12 mb-4">
            <form method="post" asp-page="./Collection">
                <div class="search-bar">
                    <input type="text" name="searchTerm" placeholder="Nhập từ khóa...">
                    <button type="submit">
                        <i class="bi bi-search-heart-fill text-white"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-auto text-start">
            <p class="h2 m-0 fw-bold title-font title-font">Danh mục</p>
        </div>
        <div id="collection-list-mobile" class="col-12 mt-0 scroll-hide">
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
            </svg>
                Bánh khai trương
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
            </svg>
                Bánh mừng thọ
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh tea break
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh sự kiện
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh nam
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh nữ
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh sếp
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh em bé
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh công ty
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh cưới
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh nghệ sĩ
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh hoa
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh túi
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh khai trương
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh thiết kế
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh chibi bé trai
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Bánh chibi bé gái
            </a>
            <a class="collection-button p-3 text-black me-4 d-inline" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 850.4 850.4" style="vertical-align: text-bottom;">
                    <path d="M486.2,850.4c205-29.6,364.2-207.6,364.2-423C850.4,191.2,660,0,425.1,0S0,191.2,0,427.4c0,215.4,158.4,393.4,364.6,423
		             M249.5,488.5c0-91.6,62.2-183.2,176.2-183.2c90.4,0,132.9,84.7,132.9,125c0,17.1-3.4,60.1-28.9,82.5c-29.7,25.9-85.8-3.9-68.3-38.8
		            c22.8-38.4,2.4-77.9-43.3-77.9c-47.1,0-69,42-69,98.4c0,55,49.5,120.2,112.3,125.4c116.1,9.6,182.2-84.2,182.2-180.3
		            c0-132.9-106.1-231.3-230.8-231.3c-147.3,0-239.6,115.2-239.6,255.7c0,32.7,3.1,68.4,12.3,115.7c7.1,35.4-30.6,38.8-40.1,15.4
	            	c-16.7-41-35-106.7-35-155.5c0-190.8,127.5-317.6,302.3-317.6c167.1,0,315.9,139,315.9,317.6c0,115.9-85.1,268.6-253.7,268.6
		            C343.1,708.3,249.5,622.7,249.5,488.5z" fill="#ff91a4"></path>
                </svg>
                Mâm cúng thôi nôi
            </a>
        </div>
    </div>
    <div class="row px-3 py-4 justify-content-start justify-content-lg-center">
        <div class="d-none d-lg-block col-auto">
            <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" width="40" height="auto" x="0px" y="0px" viewBox="0 0 152 51">
                <path d="M18,13.7c-2.3,0.6-11.9,3.9-8.4,0s11.9-2.2,16.2-1.6c10.8,1.7,20.2,6.1,29.7,11.2c10.6,5.8,21.3,11.1,31.4,17.7
	        	c8.6,5.6,18.3,9.5,28.7,9.9c15.8,0.6,31.9-11.4,35.8-26.8c2-8-0.7-16.8-7.7-21.6c-10.6-7.3-14.3,2.7-16.2,11.6
		        c2.4-0.1,5.8-1.1,8-0.5c3,0.9,2.1,0.9,3.6,4.1c1.5,3.3,1.8,7,0.9,10.5c-2.5,9.4-13,15.2-22.1,15.9c-20.2,1.6-39.5-16.8-55.5-26.7
		        C48.8,9.2,22.4-8.4,6.6,4.7c-5.4,4.5-10,15.8-3.3,21.2C12.6,33.3,16.8,20.1,18,13.7z"></path>
            </svg>
        </div>
        <div class="col-auto text-start text-lg-center">
            @* <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="79 -202.7 1000 1000" style="fill:rgba(247,173,180,0.7);">
                <path d="M5459-1110.4L579.1-202.7c10.7,0,21.6,1.5,32.5,4.4c22.3,6,41.3,17,58,26.6c11.9,6.9,23,13.3,31.1,15.5
			c6.8,1.8,19.4,1.8,26.2,1.8h12.9c27.5,0,59.4,1.4,89.3,18.7c32.8,19,50.2,49.3,64.1,73.7c6.2,10.9,12.6,22.1,17.8,27.3
			c5.9,5.9,17.1,12.3,28.9,19.1c24,13.8,53.8,31,72.2,63c18.6,32.3,18.5,67,18.4,94.8c0,13.5-0.1,26.1,2,33.7
			c2.1,7.7,8.4,18.7,15.2,30.3c14,24.1,31.4,54.1,31.4,91.3c0,36.8-17.2,66.6-31,90.6c-6.9,11.9-13.3,23-15.5,31.1
			c-1.6,6.1-1.9,16.3-1.9,26.9c5.5,35.9-0.9,71-18.5,101.6c-18.9,32.7-49.1,50-73.4,63.9c-11.4,6.5-22.5,12.9-27.8,18.2
			c-5.9,5.9-12.3,17-19,28.7c-14,24.2-31.1,54.1-63.1,72.5c-29.5,17-60.5,18.5-89.7,18.5h-10.3c-10.6,0-21.6,0.2-28.4,2
			c-7.6,2-18.5,6.5-30.1,13.2c-24.1,14-54,29.6-91.3,29.6H579c-36.8,0-66.6-15.3-90.6-29.2c-11.8-6.8-22.9-12.3-31-14.4
			c-6-1.6-16.1-1.4-26.1-1.4l-12.8,0.3c-17.5,0-37.9-0.3-58.4-5.8c-11.2-3-21.4-7.1-31-12.7c-33-19.1-50.3-49.4-64.3-73.8
			c-6.2-10.8-12.6-22-17.8-27.2c-5.9-5.9-17-12.3-28.8-19.1c-24-13.8-53.8-31-72.3-63c-18.6-32.3-18.5-67-18.4-94.9
			c0-13.4,0.1-26.1-2-33.7c-2-7.7-8.4-18.6-15.2-30.2c-14-24.1-31.4-54-31.4-91.3c0-36.8,17.2-66.7,31.1-90.7
			c6.8-11.8,13.3-22.9,15.4-31c1.9-7.2,1.9-20.1,1.8-32.6c-0.1-28.1-0.2-63.1,18.8-95.9c19-32.9,49.3-50.2,73.6-64.2
			c10.9-6.2,22.1-12.7,27.3-17.9c5.9-5.9,12.3-17.1,19.2-28.9c13.8-24,31-53.8,62.9-72.2c29.5-17,60.3-18.5,89.3-18.5h11
			c10,0,21.3-0.2,28.2-2c7.6-2.1,18.6-8.4,30.1-15.1c24.3-14.1,54.3-31.5,91.4-31.6l4856-83.7l64-2888l-12016,96l-16,7000l7344,32
			l4760,96L5459-1110.4z M909.2,106.8c-10.2-17.7-28.5-28.3-46.3-38.5c-12.2-7.1-23.8-13.7-32.4-22.3c-8.1-8.1-14.5-19.3-21.3-31.2
			C798.8-3.3,788.1-22,769.7-32.7s-40-10.6-60.8-10.5c-13.7,0.1-26.6,0.1-37.7-2.9c-11.8-3.2-23.3-9.8-35.6-16.9
			C623-70.3,610-77.8,596.2-81.5c-5.6-1.5-11.3-2.4-17.1-2.4c-20.7,0-39.2,10.8-57,21.1c-12.1,7-23.5,13.7-35,16.8s-24.7,3-38.6,3
			c-20.6-0.1-42-0.1-59.9,10.3c-17.7,10.2-28.3,28.6-38.5,46.3c-7.1,12.3-13.7,23.8-22.3,32.5c-8.1,8.1-19.4,14.6-31.2,21.4
			c-18.1,10.4-36.8,21.1-47.4,39.5c-10.7,18.5-10.6,40-10.5,60.9c0,13.7,0.1,26.6-2.9,37.8c-3.2,11.8-9.8,23.3-16.9,35.5
			C208.6,259,198,277.4,198,297.8c0,20.8,10.7,39.2,21.1,57.1c7,12.1,13.6,23.5,16.7,35c3.1,11.5,3,24.6,3,38.6
			c-0.1,20.7-0.1,42,10.2,60.1c10.2,17.7,28.5,28.3,46.3,38.5c12.2,7.1,23.8,13.7,32.4,22.3c8.1,8.1,14.5,19.3,21.3,31.2
			c10.4,18.2,21.1,36.9,39.5,47.5c5.1,2.9,10.6,5.2,16.7,6.8c14.1,3.8,29.3,3.7,44,3.7c13.8-0.1,26.7-0.1,37.8,2.9
			c11.8,3.2,23.3,9.8,35.5,16.9c17.8,10.3,36.1,20.9,56.6,20.9c20.8,0,39.2-10.8,57-21.2c12.1-7,23.5-13.7,35-16.7
			c11.5-3.1,24.6-3,38.6-3c20.7,0,42.1,0.1,60.1-10.3c17.7-10.2,28.4-28.6,38.6-46.3c7.1-12.3,13.9-23.8,22.5-32.4
			c8.1-8.1,19.6-14.5,31.5-21.3c18.2-10.4,37.7-21.1,48.4-39.6c10.6-18.5,8.9-87.6,11.9-98.7c3.2-11.8,9.8-23.3,16.9-35.6
			c10.3-17.8,20.9-36.1,20.9-56.6c0-20.8-10.7-39.2-21.1-57.1c-7-12.1-13.6-23.5-16.7-35c-3.1-11.5-3-24.7-3-38.7
			C919.5,146.2,919.5,124.8,909.2,106.8z"></path>
            </svg> *@
            <p class="h2 m-0 fw-bold title-font">Bộ sưu tập bánh nam</p>
        </div>
        <div class="d-none d-lg-block col-auto">
            <svg class="d-none d-lg-block" xmlns="http://www.w3.org/2000/svg" width="40" height="auto" x="0px" y="0px" viewBox="0 0 152 51">
                <path d="M134,13.7c2.3.55,11.86,3.93,8.38,0s-11.87-2.21-16.21-1.55C115.4,13.8,106,18.23,96.5,23.38,85.88,29.16,75.2,34.5,65.07,41.12c-8.57
                ,5.6-18.31,9.45-28.66,9.86C20.56,51.61,4.49,39.55.64,24.17c-2-8,.72-16.81,7.74-21.63C19-4.73,22.65,5.27,24.55,14.15c-2.37-.14-5.8-1.11-8-.46-3,.87-2.06.91-3.64
                ,4.11A16,16,0,0,0,12,28.29c2.45,9.4,13,15.18,22.12,15.89,20.17,1.56,39.46-16.81,55.54-26.67,13.57-8.32,40-25.86,55.71-12.86,5.44,4.5,10,15.83,3.29,21.24C139.41,
                33.33,135.18,20.06,134,13.7Z" transform="translate(0)"></path>
            </svg>
        </div>
    </div>
    <div id="collection" class="row justify-content-center px-3 pb-3">
        <div id="collection-left" class="d-none d-lg-block col-10 col-lg-3 mb-4 mb-lg-0">
            <form method="post" asp-page="./Collection">
                <div class="search-bar">
                    <input type="text" name="searchTerm" placeholder="Nhập từ khóa...">
                    <button type="submit">
                        <i class="bi bi-search-heart-fill text-white"></i>
                    </button>
                </div>
            </form>
            <!--Collection list-->
            <div class="collection-list px-2 py-4 text-center mt-5">
                <p id="title" class="h3 mt-2 py-2 title-font">Danh mục</p>
                <script>
                    const x = document.getElementById('title');
                    const height = x.offsetHeight;
                    document.documentElement.style.setProperty('--title-height', height + 'px');
                </script>
                <div id="collection-list-content" class="collection-list-content scroll-small scroll-opacity pe-2">
                    <ul class="p-0">
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="https://www.youtube.com/@@cheznana3330">
                                <p class="text-start m-0 p-2">Bánh khai trương</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh mừng thọ</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh tea break</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh sự kiện</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh nam</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh nữ</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh sếp</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh em bé</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh công ty</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh cưới</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh nghệ sĩ</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh hoa</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh túi</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh thiết kế</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh chibi bé trai</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Bánh chibi bé gái</p>
                            </a>
                        </li>
                        <li class="text-start m-0 px-2 py-0">
                            <a class="text-black-50" href="#">
                                <p class="text-start m-0 p-2">Mâm cúng thôi nôi</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="collection-right" class="col-12 col-lg-9">
            <div class="row g-3">
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt=""/>
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
                <div class="col-6 col-lg-4">
                    <img class="img-fluid rounded-3" src="~/img/featured/nam1.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const x = document.getElementById('svg-custom');
            x.style.backgroundColor = '#ffffff';
        });
    </script>
}
<!--Collection end-->