@page
@model Cheznana.Pages.CollectionModel
@{
    ViewData["Title"] = "Bộ sưu tầm";
}
<!--Banner start-->
<div class="container-fluid p-0 position-relative" style="">
    <img class="img-fluid" src="~/img/background/bannerBanhnam1.png" alt=".."/>
    <div class="fake-fade"></div>
</div> 
<!--Banner end-->
<!--Collection start-->
<div class="container-fluid p-0">
    <div id="collection" class="row">
        <div id="collection-left" class="col-4">
            <div class="fake"></div>
            <div class="fake"></div>
            <div class="fake"></div>
            <div class="fake"></div>
        </div>
        <div id="collection-right" class="col-8">
            <div class="fake"></div>
            <div class="fake"></div>
            <div class="fake"></div>
            <div class="fake"></div>
            <div class="fake"></div>
            <div class="fake"></div>
            <div class="fake"></div>
            <div class="fake"></div>
        </div>
    </div>
</div>
<!--Collection end-->