@page
@model IndexModel
@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container-fluid p-0">
    
    @* <ul id="thumbnails" class="thumbnails">
        <li class="thumbnail">
            <img src="~/img/2.jpeg" alt="">
        </li>
        <li class="thumbnail">
            <img src="~/img/3.jpeg" alt="">
        </li>
        <li class="thumbnail">
            <img src="~/img/2.jpeg" alt="">
        </li>
        <li class="thumbnail">
            <img src="~/img/3.jpeg" alt="">
        </li>
        <li class="thumbnail">
            <img src="~/img/2.jpeg" alt="">
        </li>
    </ul> *@
</div>

@section Scripts {
	<script>
       
	</script>
}
